<div class="form-container">


  <div class="form-center">
    <mat-card>
      <mat-card-title>Авторизация</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input type="email" matInput placeholder="Логин" formControlName="username">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Пароль" formControlName="password">
            </mat-form-field>
          </p>

          <div class="button center">
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
              Войти с паролем
            </button>
            <br/>
            <button mat-button [routerLink]="'/registration'">Регистрация</button>
            <button mat-button [routerLink]="'/dropPassword'">Сбросить пароль</button>

            <p *ngIf="error" class="error">
              {{ error }}
            </p>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

</div>
